@import "./../../../../../assets/style/forms.scss";

.col-lg-6 {
    padding: 10px;
}

h1 {
    color: #b5121b;
}

a{
    color: #b5121b;
}

.signup-btn {
    background-color: #b5121b;
}

main {
    padding: 100px;
}